/*style navbar*/
.myclass{
    margin-right: 40px;
    font-size: 22px;   
}
.myclass:hover{
    background: rgb(224, 224, 239);
}
/*separate logo and pages */
.myclasslogomarginright{
    margin-right: 70px;
    
}

/*****separate content from navbar***/
.myclassmargintop{
    margin-top: 80px;
}
.myclassmargintop > form > h3{
    text-align: center;
    padding: 4px;
    text-align: center;
    border: solid rgba(212, 171, 244, 0.889);
    border-radius: 50px 50px;
    background-color: rgb(221, 215, 241);
      
}
/* style index btn */
.mycss-stylebtn{
    font-size: 23px;
    color: white;
    background-color: blue;
}
