body{
    background-color: rgb(254, 255, 254);
}
/*style navbar*/
.myclass{
    margin-right: 40px;
    font-size: 22px;   
}
.myclass:hover{
    background: rgb(224, 224, 239);
}
/*separate logo and pages */
.myclasslogomarginright{
    margin-right: 70px;
    
    
}


/*****separate content from navbar***/
.myclassmargintop{
    margin-top: 80px;
}
.myclassmargintop h1 {
    text-align: center;
    background-color:rgb(170, 170, 242);
}
.myclassmargintop h4{
    text-align: center;
}
/* view full body content */
.mystylemainbodyfullview{
    padding-bottom: 500px;
    position: relative;
    height: 100vh;
    padding-top: 20px;
    overflow-x: auto;
    overflow-y: auto;
}
/* card styling  */
.mystylemainbodyfullview .card-text{
    font-size: 20px;
}
.mystylemainbodyfullview .card-body{
   background-color: rgb(216, 243, 216); 
}
.mystylemainbodyfullview .card-body:hover{
    background-color:aliceblue;
    color: blue;
}
.mystylemainbodyfullview .card-title{
    background-color:rgb(150, 249, 150);
    color: blue;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;

}
.myclassmargintop > form > h3{
    text-align: center;
    padding: 4px;
    text-align: center;
    border: solid rgba(212, 171, 244, 0.889);
    border-radius: 50px 50px;
    background-color: rgb(221, 215, 241);
      
}
/* style index btn */
.mycss-stylebtn{
    font-size: 23px;
    color: white;
    background-color: blue;
}
/* side nav styling */
.myclassstylesidebar{
    height: 100%;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.mystylesidebarsticky{
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(247, 248, 247);

}
.mystlenav {
    padding: 10px 20px;
    font-size: 24px;
    color: #333;
}

.mystlenav:hover {
    background-color: rgb(195, 189, 189);
    color: #007bff;
}

.mystlenav.active {
    background-color: #007bff;
    color: #fff;
}

.mystlenav.active:hover {
    background-color: #007bff;
    color: #fff;
}
.mystlyehomeorderbtn{
    float: right; 
    background-color: rgb(127, 244, 127);
    border-radius: 20px 20px;
    padding: 0px 10px 0px 10px;
}
.mystlyehomeorderbtn a{
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
}
.mystlyehomeorderbtn:hover{
   background-color: rgb(106, 106, 217);
}
.mystlyehomeorderbtn a:hover{
   color: white;
}